# Service template for applications run with Puma web server.
# This template is not stand alone and instances will require a drop-in .conf file
# e.g. app-cc-puma@myapp-production.service.d/drop-in.conf
[Unit]
Description=%i Application
After=network.target

[Service]
Type=simple

# Values that need to be overridden by a drop-in conf file
# User=overridme
# Group=overridme
# WorkingDirectory=/override/or/fail
# PIDFile=/override/or/fail/pidfile.pid
# ExecStart=/override/or/fail/bin/rbenv exec puma -C config/fauxpaas_puma.rb
# Environment="RBENV_ROOT=/override/or/fail"

# Common ruby environment config
Environment="RAILS_ENV=production"

# Set UMASK to allow group access to application created files.
UMask=0002

TimeoutStartSec=20
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
