[Unit]
Description={{puma_svc_app_name}} application
After=network.target
Requires=puma@{{puma_svc_app_name}}.service
{% for service in puma_svc_subservices %}
Wants={{service}}@{{puma_svc_app_name}}.service
{% endfor %}

[Install]
WantedBy=multi-user.target
