[Unit]
Description={{puma_svc_app_name}} puma
PartOf={{puma_svc_app_name}}.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
UMask=0002
User={{ puma_svc_app_name }}
Group={{ puma_svc_app_name }}
Environment="RBENV_ROOT={{puma_svc_rbenv_root}}"
Environment="RAILS_ENV=production"
WorkingDirectory={{puma_svc_deploy_dir}}/current
ExecStart={{puma_svc_rbenv_root}}/bin/rbenv exec puma -C config/fauxpaas_puma.rb

TimeoutStartSec=20
Restart=on-failure
RestartSec=5

