# Service template for resque-scheduler to support app-cc-puma services.
# This template is not stand alone and instances will require a drop-in .conf file
# e.g. resque-scheduler@myapp-production.service.d/drop-in.conf
[Unit]
Description=%i Resque-Scheduler
After=redis-server.service
Requires=redis-server.service
PartOf=app-puma@%i.service

[Service]
Type=forking

# Settings that need to be overridden in the drop-in.conf
# User=overridme
# Group=overridme
# WorkingDirectory=/override/or/fail
# PIDFile=/override/or/fail/pidfile.pid
# ExecStart=/override/or/fail
# Environment="RBENV_ROOT=/override/or/fail"

# Set UMASK to allow group access to application created files.
UMask=0002

Environment="RAILS_ENV=production"

# Using --hot-swap is what we ideally want, but it does not seem to be in the stable branch yet?
#ExecStart=/usr/local/rbenv/bin/rbenv exec bundle exec resque-pool --daemon --hot-swap --environment production
#ExecReload=/usr/local/rbenv/bin/rbenv exec bundle exec resque-pool --daemon --hot-swap --environment production

TimeoutStartSec=20
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
