%{{puma_svc_app_name}} ALL=(root) NOPASSWD: /bin/systemctl stop {{puma_svc_app_name}}.target
%{{puma_svc_app_name}} ALL=(root) NOPASSWD: /bin/systemctl start {{puma_svc_app_name}}.target
%{{puma_svc_app_name}} ALL=(root) NOPASSWD: /bin/systemctl restart {{puma_svc_app_name}}.target
%{{puma_svc_app_name}} ALL=(root) NOPASSWD: /bin/systemctl status {{puma_svc_app_name}}.target
%{{puma_svc_app_name}} ALL=(root) NOPASSWD: /bin/journalctl
