%{{puma_svc_app_group}} ALL=(root) NOPASSWD: /bin/systemctl stop app-puma@{{puma_svc_app_name}}.service
%{{puma_svc_app_group}} ALL=(root) NOPASSWD: /bin/systemctl start app-puma@{{puma_svc_app_name}}.service
%{{puma_svc_app_group}} ALL=(root) NOPASSWD: /bin/systemctl restart app-puma@{{puma_svc_app_name}}.service
%{{puma_svc_app_group}} ALL=(root) NOPASSWD: /bin/systemctl status app-puma@{{puma_svc_app_name}}.service
%{{puma_svc_app_group}} ALL=(root) NOPASSWD: /bin/journalctl
