# Drop in config for puma app service.
# %i should be appname-target. e.g. umrdr-production or fishrappr-staging

[Unit]
{% if puma_svc_resque_dependency %}
Requires=resque-pool@%i.service
{% endif %}
{% if puma_svc_resque_scheduler_dependency %}
Requires=resque-scheduler@%i.service
{% endif %}


[Service]
{% if puma_svc_resque_dependency %}
Environment="REDIS_NS=%i"
{% endif %}
Environment="RBENV_ROOT={{puma_svc_rbenv_root}}"

User={{ puma_svc_app_name }}
Group={{ puma_svc_app_name }}

ExecStart={{puma_svc_rbenv_root}}/bin/rbenv exec bundle exec puma -C config/puma.rb

WorkingDirectory={{ puma_svc_deploy_dir }}/current
PIDFile={{ puma_svc_deploy_dir }}/shared/log/{{ puma_svc_app_name }}-puma.pid
