# The following can be assumed to exist on the host.
# They are reproduced here to serve as a reference and stubs for vagrant vms.

################################################################################################################
# Public access macro
<Macro access_all>
  <Location />
    Order Allow,Deny
    Allow from all
  </Location>
</Macro>

################################################################################################################
# Macro to assign logging options
# $instance is the instance name, e.g. "production" or "staging"  ????
<Macro logging $instance>
    ErrorLog              "| /usr/bin/rotatelogs ${APACHE_LOG_DIR}/$instance/error_log-%Y%m%d 86400 -300" 
    CustomLog             "| /usr/bin/rotatelogs ${APACHE_LOG_DIR}/$instance/access_log-%Y%m%d 86400 -300" combined
</Macro>


################################################################################################################
# Stub macros.  
<Macro cosign_common $cosign_service $ssl_key $ssl_crt>
  # Do not rewrite cosign session initiation.
  RewriteEngine On
  RewriteCond   %{REQUEST_URI}  !^/cosign/valid
</Macro>

<Macro cosign $domain $ssl_key $ssl_crt>
</Macro>

<Macro access_nobadies>
</Macro>

