# The following can be assumed to exist on the host.
# They are reproduced here to serve as a reference and stubs for vagrant vms.

################################################################################################################
# Public access macro
<Macro access_all>
  <Location />
    Order Allow,Deny
    Allow from all
  </Location>
</Macro>

################################################################################################################
# Macro to assign logging options
# $instance is the instance name, e.g. "production" or "staging"  ????
<Macro logging $instance>
    ErrorLog  "| /usr/bin/rotatelogs ${APACHE_LOG_DIR}/$instance/error_log-%Y%m%d 86400 -300" 
    CustomLog "| /usr/bin/rotatelogs ${APACHE_LOG_DIR}/$instance/access_log-%Y%m%d 86400 -300" combined
</Macro>


################################################################################################################
# Stub macros.  
<Macro cosign_common $cosign_service $ssl_key $ssl_crt>
  # Do not rewrite cosign session initiation.
  RewriteEngine On
  RewriteCond   %{REQUEST_URI}  !^/cosign/valid
</Macro>

<Macro cosign $domain $ssl_key $ssl_crt>
  LogLevel info

  CosignProtected   On
  CosignHostname    weblogin.umich.edu
  # new for v.3:
  CosignValidReference              ^https?:\/\/[^/]+.umich\.edu(\/.*)?
  CosignValidationErrorRedirect      http://weblogin.umich.edu/cosign/validation_error.html
  <Location /cosign/valid>
    SetHandler          cosign
    CosignProtected     Off
    Allow from all
    Satisfy any
  </Location>
  <Location /robots.txt>
    CosignProtected     Off
    Allow from all
    Satisfy any
  </Location>
  # end new stuff for v.3
  CosignCheckIP   never
  CosignRedirect    https://weblogin.umich.edu/
  CosignNoAppendRedirectPort  On
  CosignPostErrorRedirect https://weblogin.umich.edu/post_error.html
  CosignService   $cosign_service
  CosignCrypto            /etc/ssl/private/$ssl_key /etc/ssl/certs/$ssl_crt /etc/ssl/certs
  <Location "/ctools">
  CosignProtected     Off
  </Location>

</Macro>

<Macro access_nobaddies>
  LogLevel info
</Macro>

<Macro ssl $ssl_key $ssl_crt>
  LogLevel info

  # 
  # SSL-related directives common to all *.www.lib virtual hosts.
  #

  SSLEngine on

  #
  # 2015-03-27 tighten SSL security trmooney
  #
  #SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP:+eNULL
  SSLCipherSuite "EECDH EDH+aRSA !RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS"

  # removed SSLv3 protocol
  # 
  # 2014-10-16 skorner
  SSLProtocol all -SSLv2 -SSLv3

  SSLCertificateFile /etc/ssl/certs/$ssl_crt
  SSLCertificateKeyFile /etc/ssl/private/$ssl_key
  <Files ~ "\.(cgi|shtml|phtml|php3?)$">
      SSLOptions +StdEnvVars
  </Files>
  <Directory "/var/www/cgi-bin">
      SSLOptions +StdEnvVars
  </Directory>
  SetEnvIf User-Agent ".*MSIE.*" \
           nokeepalive ssl-unclean-shutdown \
           downgrade-1.0 force-response-1.0

</Macro>

