[Unit]
Description={{name}} job queue #%i
After=network.target mysqld.target
Requires={{name}}-queues.target
ReloadPropagatedFrom={{name}}-queues.target

[Service]
Type=simple
User={{user.name}}
Group={{group.name}}
WorkingDirectory={{basepath}}/{{name}}/current
Environment=RAILS_ENV=production
Environment=RBENV_ROOT={{rbenv_root}}
ExecStart={{rbenv_root}}/bin/rbenv exec bundle exec rake jobs:work
TimeoutStartSec=4
Restart=on-failure

[Install]
WantedBy=multi-user.target
