[Unit]
Description={{name}} Job Queues
After=network.target mysqld.target
Requires={{name}}.service

{% for i in range(1,num_queues) %}
Requires={{app}}-queue@{{i}}.service
PropogatesReloadTo={{app}}-queue@{{i}}.service
{% endfor %}

[Install]
WantedBy=multi-user.target

