[Unit]
Description={{name}} Server
After=network.target mysqld.target

[Service]
Type=simple
User={{user.name}}
Group={{group.name}}
WorkingDirectory={{app_path}}/current
Environment=RAILS_ENV=production
ExecStart=bundle exec puma -C config/puma.rb
ExecReload=bundle exec pumactl restart
TimeoutStartSec=20s
Restart=on-failure

[Install]
WantedBy=multi-user.target
