# Drop in configuration for resque pool service
# %i should be appname-target e.g. umdr-staging or heliotrope-production
[Service]
Environment="RBENV_ROOT={{ puma_svc_rbenv_root }}"

User={{ puma_svc_app_name }}
Group={{ puma_svc_app_name }}

WorkingDirectory={{ puma_svc_deploy_dir }}/current
PIDFile={{ puma_svc_deploy_dir }}/shared/log/resque-pool.pid

ExecStart={{ puma_svc_rbenv_root }}/bin/rbenv exec bundle exec resque-pool --daemon -p {{ puma_svc_deploy_dir}}/shared/log/resque-pool.pid --environment production

ExecStop=/bin/kill -HUP $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
