---

- name: Search for setup_db_password from group vars
  set_fact:
    setup_db_password: "{{ host_vars[item]['setup_db_password'] }}"
  with_items: groups['db']
  when: host_vars[item]['setup_db_password'] is defined
  
- name: Mint a new password if one is not found
  shell: openssl rand -base64 32 | tr -dc A-Za-z0-9
  register: setup_db_password_raw
  when: setup_db_password is not defined

- name: Set setup_db_password to minted value if not already defined
  set_fact:
    setup_db_password: "{{setup_db_password_raw.stdout}}"
  when: setup_db_password is not defined

- set_fact:
    db_user_db_username:    "{{ app_name | db_username_minify }}"
    db_user_db_password:    "{{ setup_db_password }}"
    db_user_app_user:       "{{ app_name }}"
    db_user_app_user_home:  "/var/local/{{ app_name }}"